@font-face {
    font-family: overpass;
    src: url(Overpass-VariableFont_wght.ttf);
}
*{
    font-family: overpass;
}
body{
    margin: 0;
    padding: 0;
}
.main{
    background-color: hsl(216, 12%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.container{
    height: 350px;
    width: 500px;
    background: hsl(213, 19%, 18%);
    padding: 2em;
    border-radius: 10px;
}
.circle{
    height: 100%;
    width: 10%;
    background: hsl(210, 21%, 21%);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-star{
    height: 15%;
    color: hsl(25, 97%, 53%);
}
.title{
    color: hsl(0, 0%, 100%);
    font-size: xx-large;
}
.sub-title{
    color: hsl(217, 12%, 63%);
    font-size: medium;
    font-size: 15px;
}
.numbers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15%;
    color: hsl(217, 12%, 63%);
}
.btn-submit{
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    height: 15%;
    margin-top: 5%;
    border: none;
    border-radius: 30px;
    color: hsl(0, 0%, 100%);
    font-size: larger;
}